<table class="table">
  <tr>
    <th>Minutes</th>
    <th>Average Value</th>
  </tr>
  <tr>
    <td>15</td>
    <td>{{this.fifteen}}</td>
  </tr>
  <tr>
    <td>60</td>
    <td>{{this.sixty}}</td>
  </tr>
</table>