<div>
  <form action="/login" method="POST">
    <p>Please enter an account to login.</p>

    <div>
      <label for="account">Account:</label>
      <input type="text" id="account" name="account">
    </div>

    <div class="button">
      <button type="submit">Submit</button>
    </div>

  </form>
</div>